<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="w-atr-displayName"></h3>
      <p>Go ahead and edit the fields below to see the name above update dynamically.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3  form-group">
      <label>First Name</label>
      <input class="js-atr-firstName form-control">
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 form-group">
      <label>Last Name</label>
      <input class="js-atr-lastName form-control elf-test">
    </div>
    <button class="js-ctrl-testFunction">test control</button>
    <button class="js-ctrl-keyUpFn">Inactive</button>
    <button class="js-ctrl-keyUpFn">Inactive</button>
  </div>
</div>